.tab {
  border-bottom: 1px solid var(--color-grey);
  padding: 4px 8px;
  cursor: pointer;
}

.selected {
  background-color: var(--color-lightgrey);
}

.tabHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
