.tab {
  --x-padding: 10px;
  border: none;
  background-color: transparent;
  text-align: left;
  display: block;
  width: 100%;
  border-bottom: 1px solid var(--color-grey);
  padding: var(--x-padding) 10px;
  cursor: pointer;
}

.tab:focus {
  outline-offset: calc(-1 * (var(--x-padding) / 2));
}

.selected {
  background-color: var(--color-lightgrey);
  --border-width: 4px;
  border-left: var(--border-width) solid var(--color-crimson);
  padding-left: calc(var(--x-padding) - var(--border-width));
}

.tabHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.tabHeader > p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  font-weight: bold;
}

.subtitle {
  font-size: 1rem;
  color: #505050;
  font-style: italic;
}
