.card {
  flex: 1 0 0;
  overflow: auto;

  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 8px 2px;
  background-color: white;

  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.section {
  display: flex;
  flex-direction: column;
}

.section:not(:last-of-type) .sectionHeader {
  border-right: 1px solid var(--color-crimson-dark);
}

.sectionHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: var(--color-crimson);
  text-align: center;
  padding: 0.5rem 2rem;
  position: relative;
  font-size: 1.4rem;
  min-height: 4rem;
  border-bottom: 1px solid var(--color-crimson-dark);
}

.sectionContent {
  overflow: auto;
  flex: 1 0 0;
  border-right: 1px solid var(--color-grey);
}
