:root {
  --color-white: #eee;
  --color-lightgrey: #edeff4;
  --color-grey: #cccccc;
  --color-crimson: #c0143c;
  --color-crimson-dark: #5a2a38;
  --color-eggplant: #323268;
  --color-eggplant-dark: #202050;
  --color-blueberry: #21568a;
  --color-blueberry-light: #21568a66;
  --color-blueberry-dark: #01366a;
  --color-sky: #e3f2fd;
  --color-peach: #f2b5a7;
  --color-gold: #f2dd72;
  --color-sea: #4d868c;
  --color-note: #1d568c;
  --color-error: orange;
  --color-warning: darkorange;
  --color-danger: red;
}

a {
  color: var(--color-blueberry);
  text-decoration-color: var(--color-blueberry-light);
  transition: text-decoration-color 250ms;
  text-underline-offset: 0.1em;
}
a:hover,
a:active {
  text-decoration-color: var(--color-blueberry);
}
html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 13pt;

  color: #444444;
  scroll-behavior: smooth;

  background-image: url("/left-hexagons.svg"), url("/right-hexagons.svg");
  background-size: 400px;
  background-position:
    -4rem 0px,
    calc(100% + 4rem) 0px;
  background-repeat: repeat-y, repeat-y;
  background-attachment: fixed;

  @media screen and (max-width: 750px) {
    background-image: url("/left-hexagons.svg");
    background-position: -4rem 0px;
    background-repeat: repeat-y;
  }
}
